body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 50px;
    background-color: #decf4e;
    color: #000;
    font-family: "Roboto", sans-serif;
  }

table {
  width: 650px;
  border-top: 7px solid rgb(0, 0, 0);
  border-collapse: collapse;
  text-align: center;
  margin-bottom: 20px;
  border: 1px solid #dddddd;
}

td {
  text-align: left;
	padding: 10px;
	border: 3px solid rgb(0, 0, 0);
  position: relative;
}
 th {
  text-align: center;
  padding: 10px;
	border: 3px solid rgb(0, 0, 0);
 }

 .x
 {
    position: absolute;
    right: 10px;
    background-image:image-set(url(images/x.png));
    background-size: cover;
    width: 10px;
    height: 10px;
    border: none;
    outline: none;
 }
 .edit
 {
    position: absolute;
    right: 25px;
    background-image: image(url(/images.png));
    background-size: cover;
    width: 10px;
    height: 10px;
    border: none;
    outline: none;
 }

 textarea
 {
  height: 20px;
 }
 #addNew
 {
  height: 50px;
  width: 80px;
 }
 #saveButton
 {
  width: 80px;
  height: 30px;
 }
 #save
 {
  width: 80px;
  height: 30px;
 }